<html ng-app="eulersolutions">
	<head>
		<title>Project euler solutions</title>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		<script src="js/eulersolutions.js"></script>
		<script src="js/eulersolutionsCtrl.js"></script>
		<script src="css/main.css"></script>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
	<body ng-app="eulersolutions">
		<h1>Project euler solutions</h1>
		<p>This is a list of javascript functions that solves some of the problems from the project euler site.</p>
		<div class="page-container" ng-controller="eulersolutionsCtrl">
			<p>{{message}}</p>
			<div ng-init="solutions">
				<table>
					<tr ng-repeat="x in solutions">
						<td>{{ x.nr }}</td>
						<td><input type="submit" ng-click="x.solution()"></td>
						<td><input type="text" ng-model="x.answer"></td>
						<td><input type="text" ng-model="x.time"></td>
					</tr>
				</table>
			</div>
		</div>
	</body>
</html>